*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.container{
    height: 100vh;
    max-width: 450px;
    width: 100vw;
    background-color: rgb(31, 38, 44);
    position: relative;
}

.game{
    width: 100%;
    height: 55%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 2px 30px;
}

.boxes{
    box-shadow: 2px 5px 10px rgba(0,0,0,0.8),-2px -5px 10px rgba(0, 0, 0, 0.8) ;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.hover:hover{
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.8) ;
    font-size: 3.5rem;
}

.turn{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose{
    width: 35%;
    height: 50%;
    background-color: transparent;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8), -2px -5px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 15px;
    font-weight: 800;
    cursor: pointer;
}

.turn1{
    width: 50%;
    height: 100%;
    color: rgb(174, 51, 96);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.turn2{
    width: 50%;
    height: 100%;
    color: rgb(80, 52, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.box1{
    border-top-left-radius: 10px;
}
.box3{
    border-top-right-radius: 10px;
}
.box7{
    border-bottom-left-radius: 10px;
}
.box9{
    border-bottom-right-radius: 10px;
}

.shadow{
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.8), -2px -5px 10px rgba(0, 0, 0, 0.8);
}

.winnerAnimation{
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.8), -2px -5px 10px rgba(0, 0, 0, 0.8);
    font-size: 2.25rem;
}

.msg{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

#result{
    font-size: 50px;
    font-weight: 700;
}

.hide{
    display: none;
}

.btn{
    position: absolute;
    bottom: 40px;
    width: 100px;
    padding: 12px 15px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8), -2px -5px 10px rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 15px;
}

.btn:hover{
    box-shadow: inset 2px 5px 8px rgba(0, 0, 0, 0.8);
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

#reset{
    left: 40px;
}

#new-game{
    right: 40px;
}

#m{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 13%;
    font-size: 30px;
    color: white;
}